<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13451873571-sb8mcjfvem7vlrveu5fak5c4i9j449qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13451873571-sb8mcjfvem7vlrveu5fak5c4i9j449qa</string>
	<key>API_KEY</key>
	<string>AIzaSyAaVA3pj0i7ZqtftaMDYDYG0DoVtI9Y8us</string>
	<key>GCM_SENDER_ID</key>
	<string>13451873571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastmeal</string>
	<key>PROJECT_ID</key>
	<string>fastmealapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>fastmealapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13451873571:ios:23affe8b3f5f942c7a5096</string>
</dict>
</plist>